body 
{
    background-color:#1a1a1d;
}

img 
{
    max-width: 100%;
}

/* Adopting the mobile-first strategy */
/* styles for the Mobile Layout */
/* styles for the id = container */


#headercontainer 
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header 
{
    margin-top: 0.2em;
    border-radius: 0.5em;
    text-align: center;
}

.banner
{
    display: none;
}

 nav 
 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
 }
  
/* styles specifies the padding and margins of the unordered list in nav */
nav ul 
{
    padding: 0;
    text-decoration: none;
}
  
/* styles for the li in nav */
nav li 
{
    background-color: #ffd9dd;
    border-radius: 0.2em;
    margin: 0.22em;
    padding: 0.5em;
    border-color: black;
}

nav li a
{
    list-style-type: none;
    text-decoration: none;
    color: #e6e6e6;
}

nav li:hover
{
    background-color: #f94c60;
}

p
{
    margin-top: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e6e6e6;
    font-size: 0.8em;
    text-align: justify;
}

.welcometext, .relatedlinks
{
    font-size: 1.2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h2
{
    color: #e6e6e6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

aside
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.share
    {
        margin-top: 2em;
    }

.banner
    {
        text-align: center;
        width: 100%;
    }

.related
    {
        width: 25%;
    }

/* Styling for tablet viewport begins here */
@media only screen and (min-width: 688px)
{
    .banner
    {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: block;
    }

    nav
    {
        margin-left: auto;
        margin-right: auto;
        display: inline;
        /* margin-left: -8em; */
    }

    nav ul
    {
        margin-left: 2em;
    }

    nav li
    {
        display: inline;
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-left: -0.2em;
        background: transparent;
    }

    .related
    {
      width: 25%;
    }
}

/* Styling for desktop viewport begins here */
@media only screen and (min-width: 999px) 
  {
    header 
    {
        margin-top: 0.2em;
        border-radius: 0.5em;
        text-align: left;
        margin-left: 3.5em;
    }

    nav
    {
        float: right;
        margin-top: -4.7em;
        /* margin-left: -8em; */
    }

    nav ul
    {
        margin-right: 2em;
    }

    nav li
    {
        display: inline;
        padding-left: 1.2em;
        padding-right: 1.2em;
        margin-left: -0.7em;
        background: transparent;
    }

    aside
    {
        float: right;
        margin-top: -33em;
        margin-right: 3em;
        border-radius: 0.4em;
        font-size: 0.8em;
    }

    .banner
    {
        text-align: center;
        margin-left: 6em;
        width: 60%;
    }

    .related
    {
      width: 50%;
    }

    .welcometext
    {
        overflow: hidden;
        width: 60%;
        margin-left: 5.5em;
        font-size: 18px;
    }

    /* styles for footer */
    footer
    {
        background-color:#f0f0f0;
        margin-top: -0.2em;
        padding: 0.5em;
        position: fixed;
        bottom: 0;
    }
  }