<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abhishek's Blog</title>
    <link rel="stylesheet" href="css/main.css" />
</head>
<body>
    <div id="headercontainer">
        <!-- Front page banner -->
        <header>
            <a href="index.html"
              ><img src="images/logo2.png" alt="logo"
            /></a>
          </header>

   <!-- this area is for the hyperlinks to other pages -->
   <nav>
    <ul>
      <li><a href="personal.html">Personal</a></li>
      <li><a href="education.html">Education</a></li>
      <li><a href="work.html">Work</a></li>
      <li><a href="hobbies.html">Hobbies</a></li>
      <li><a href="projects.html">Projects</a></li>
    </ul>
  </nav>

  <!-- main content of the website -->
  <main>
      <article>
          <h1><p>Welcome to the personal blog of Abhishek Santhosh Jaya! 
              Use the navigation bar items to find more information about me.</p></h1>
      </article>
  </main>

  <aside>
    <section>
      <h2>Share</h2>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Email</a></li>
      </ul>
    </section>
    <section>
      <h2>Recommended</h2>
      <ul>
        <li>
          <article>
            <h3><a href="#">Related article</a></h3>
            <p>Article description</p>
          </article>
        </li>
        <li>
          <article>
            <h3><a href="#">Related article</a></h3>
            <p>Article description</p>
          </article>
        </li>
      </ul>
    </section>
  </aside>

  <!-- footer of the webpage -->
  <footer>
    &copy; Copyright 2020. All Rights reserved. <br/>
  </footer>
</div>
</body>
</html>