<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abhishek's Blog</title>
    <link rel="stylesheet" href="css/content.css" />
</head>
<body>
    <div id="headercontainer">
    <!-- Front page banner -->
        <header>
            <a href="index.html"
              ><img src="images/logo2.png" alt="logo"
            /></a>
          </header>

   <!-- Nav bar items for moving to different pages -->
   <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="education.html">Education</a></li>
      <li><a href="work.html">Work</a></li>
      <li><a href="hobbies.html">Hobbies</a></li>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>

  <!-- main content of the website -->
  <main>
      <article>
              <img class ="banner" src="images/banner.png" alt="home_banner"><br/>
              <p></p>
      </article>
  </main>

  <aside>
    <section class="asidebar">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="education.html">Education</a></li>
        <li><a href="work.html">Work</a></li>
        <li><a href="hobbies.html">Hobbies</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </section>
  </aside>

  <!-- footer of the webpage -->
  <footer>
    &copy; Copyright 2020. All Rights reserved. <br/>
  </footer>
</div>
</body>
</html>